<h2>Download the client:</h2>
<p>
-a-
</p>

<h3>Requirements</h3>
<p>
Java jre 1.6
</p>

<h2>The source code</h2>
<p>
AFA is open source so you can checkout the source code. It's divided in two big parts, the web app and desktop app.

Both are hosted at github.
</p>

<h3>The web app: afa_web</h3>

<p>http://github.com/hermesdt/afa_web</p>
<p>You can checkout it with the following command:</p>
<p>git clone git@github.com:hermesdt/afa_web.git</p>

<h4>Requirements</h4>
<p>
Ruby: 1.8.7<br />
Rails: 3.0.7 
</p>

<h3>The desktop app: AFA2</h3>

<p>http://github.com/hermesdt/AFA2</p>
<p>You can checkout it with the following command:</p>
<p>git clone git@github.com:hermesdt/AFA2.git</p>

<h4>Requirements</h4>
<p>
Java jre 1.6
</p>
