<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @technique_type.name %>
</p>

<div class="grouped-links">
<%= link_to 'Edit', edit_technique_type_path(@technique_type) %> |
<%= link_to 'List Technique Types', technique_types_path %>
</div>

