  <div style="display: block">
    <h2>
        Choose a section:
    </h2>
  </div>
  <br />
<div class="table">
  <div class="tr">
    <div class="td">
      <%= link_to image_users + raw("<p style='text-align: center'>Users</p>"), users_path %>
    </div>
    <div class="td">
      <%= link_to image_blog + raw("<p style='text-align: center'>Blog</p>"), admin_posts_path %>
    </div>
  </div>
</div>
