<h3>¿Qu&eacute; es AFA?</h3>

<p>AFA es una aplicaci&oaute;n de escritorio escrita en java capaz de buscar
rastros en el sistema de ficheros.</p>

<p>AFA se complementa con esta p&aacute;gina para la creaci&oacute;n y
administración de plugins.</p>

<br />

<h3>¿Qué tipo de rastros puede encontrar?</h3>

<p>AFA puede buscar ficheros en función del nombre, del hash del contenido. Por
ejemplo podría intentar buscar una cadena concreta en un fichero de log o
comprobar si un equipo ha sido infectado sabiendo el hash de alguno de
los rastros que deja el malware.</p>


