<h3>Origen de AFA</h3>

<p>AFA nace como proyecto de fin de carrera del departamento de la Universidad Carlos III de Madrid, dirigido por el profesor Jorge Blasco Alis del departamente de Seguridad.</p>

<p>Su primera version fue creada por Armando Machuca Llorente y posteriormente reescrita por Alvaro Duran Tovar.</p>

<br />
<h3>Diseño de AFA</h3>

<p>En su primera versión solo existía una apicación escrita en Java que se encargaba del análisis y posterior generación de un documento pdf firmado digitalmente.</p>

<p></p>

