<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tag.name %>
</p>

<div class="grouped-links">
<% if can? "manage", "Tag" %>
<%= link_to 'Edit', edit_tag_path(@tag) %> |
<% end %>
<%= link_to 'Back', tags_path %>
</div>

