<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @field_category.name %>
</p>

<div class="grouped-links">
<%= link_to 'Edit', edit_field_category_path(@field_category) %> |
<%= link_to 'Back', field_categories_path %>
</div>

