<h1>Listing posts</h1>

<div style="position: relative">
  <div style="position: relative; float: left;">
  <% if can?("manage", "Post") %>
  <%= link_to image_add + "New post", new_post_path %><br /><br />
  <% end %>
  </div>
  <div style="position: relative; float: right;">
  <%= link_to image_rss, posts_url(:format => :rss) %>
  </div>
</div>

<div style="position: relative; float: left; width: 100%">
<% for post in @posts %>
 <%= render :partial => post %>
<% end %>
</div>
