
        <ul>
          <li>
            <h4><span>Navigate</span></h4>
              <ul class="blocklist">
                <li><a href="/index">Home</a></li>
                <li><a href="/examples.html">Examples</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Solutions</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </li>

            <li>
              <h4>About</h4>
              <ul>
              <li>
                <p style="margin: 0;">Aenean nec massa a tortor auctor sodales sed a dolor. Duis vitae lorem sem. Proin at velit vel arcu pretium luctus.</p>
              </li>
            </ul>
          </li>

          <li>
            <h4>Search</h4>
            <ul>
              <li>
                <form method="get" class="searchform" action="http://wpdemo.justfreetemplates.com/" >
                  <p>
                    <input type="text" size="24" value="" name="s" class="s" />
                    <input type="submit" class="searchsubmit formbutton" value="Search" />
                  </p>
                </form>
              </li>
            </ul>
          </li>

          </ul>
          <div class="sidebar-end"></div>
          </div>
          <div class="clear"></div>
          </div>

